name: .NET CI

on:
  push:
  pull_request:

jobs:
  unit-tests:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 8.0.x

      - name: Restore
        run: dotnet restore

      - name: Run Unit Tests
        run: dotnet test --filter "Category=Unit" --collect:"XPlat Code Coverage" --logger "junit;LogFilePath=unit-report.xml" --verbosity normal

      - name: Upload Unit Report
        uses: actions/upload-artifact@v4
        with:
          name: unit-report
          path: unit-report.xml

      - name: Upload Coverage
        uses: actions/upload-artifact@v4
        with:
          name: coverage-report
          path: tests/**/coverage.cobertura.xml

      - name: Debug how many unit tests ran
        run: dotnet test --filter "Category=Unit" --verbosity normal
    
  integration-tests:
    runs-on: ubuntu-latest
    needs: unit-tests

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 8.0.x

      - name: Restore
        run: dotnet restore

      - name: Run Integration Tests
        run: dotnet test --filter "Category=Integration" --logger "junit;LogFilePath=integration-report.xml"

      - name: Upload Integration Report
        uses: actions/upload-artifact@v4
        with:
          name: integration-report
          path: integration-report.xml
